:host {
   --color: "$color";
   --inner-color: "$inner-color";
   
   display: block;
   position: relative;
   width: 100vw;
   min-height: 100vh;
   height: auto;
   overflow: auto;
   box-sizing: border-box;
   background: var(--color);
   color: var(--inner-color);
}