:host {
   --size: "$size";
   --color: "$color";
   --inner-color: "$innerColor";
   
   display: inline-block;
   position: relative;
   aspect-ratio: 1;
   width: var(--size);
   vertical-align: middle;
}

:host svg {
   width: 100%;
}

:host svg .bg {
   fill: var(--color)
}
:host svg .fg {
   fill: var(--inner-color)
}
:host svg .line {
   fill: none; 
   stroke: var(--color);
   stroke-width: 20; 
   stroke-linecap: round;
}